html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    .navbar-nav{
        // background: red;
        margin-left: 30%;
       

    .nav-link{
        margin-left: 30px;
        color: black;
        transition: 0.5s;
        
    }
    .nav-link:hover{
        color: orangered;

    }
}

.navbar-brand{
        color: orangered;
        font-size: 30px;
        margin-left: 30px;
        font-weight: bolder;
span{
    color: black;
}

}


}
.main{
    height: 100vh;
    background: black;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: 700px 2fr 300px;
    
    .column1{
        grid-column: 2/3;       
        grid-row: 1/2;
        display: grid;
        place-items: center;
        background: black;
    }    
    .column2{
        grid-column: 3/4;
        grid-row: 1/2;
        display: grid;
        place-items: center;
        background: black;
    }
    .column3{
        grid-column: 1/5;
        grid-row: 2/3;
        display: grid;
        justify-items: center;
        background: black;
    }
    .footer-section{
        grid-column: 1/5;
        grid-row: 3/4;
        display: grid;
        background: #2f3236;
        justify-items: center;
    }


    .projects-container{
        margin-top: 5%;
        color: white;
        display: inline-block;
    span{
        color: orangered;
    }   
    }
    
    .mini-projects{
        background: black;   
    img{
        margin-left: 10%;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 2px solid white;
    }    
    }


        // About myself
    .text-group{
        margin-top: -30px;
        color: white;
        font-family: "Montserrat", Verdana;
        span{
            color: orangered;

    }

        // Profile picture 
    }   
    .logo-container{
        img{
            margin-top: 50px;
            border-radius: 50%;
            border: 5px solid white;
        }
    }
    h1{
        font-weight: bolder;
    }
    h2{
        font-weight: bolder;
    }
    .btn1{
        padding: 10px;
        font-family: Verdana;
        font-family: "Montserrat", Verdana;
        border-radius: 5px; 
        border: 1px solid black;
        letter-spacing: 1px;
        transition: 0.5s;
    }
    .btn1:hover{
        background: orangered;
        color: white;
    }
    .btn2{
        padding: 10px;
        font-family: Verdana;
        font-family: "Montserrat", Verdana;
        border-radius: 5px;
        color: white;
        border: 1px solid black;
        background: orangered;
        letter-spacing: 1px;
        margin-left: 20px;
    }
    .footer{
        padding-top: 80px;
        color: white;   
    img:hover{
        width: 50px;
        height: 50px;
        }        
    img{
        margin-right: 10px; 
        transition: 0.5s;
    }    
    h4{
        color: white;
        font-family: "Montserrat", Verdana;
        margin-bottom: 10px;
        }       
    .follow-me{
        color: orangered;
  
    }
    }

    .contact-me{
        color: white;
        font-family: "Montserrat", Verdana;
        text-decoration: none;
        display: grid;
        justify-self: start;
        position: absolute;
        margin-top: 80px;
        margin-left: 50px;
        display: inline-block;
    img{
        margin-bottom: 10px;
        padding: 5px;
    }       
    .contact{
        color: orangered;   
    }    
    }




// Large Devices
@media (max-width: 992px) and (min-width: 768px){
        
        grid-template-columns: 75px 1fr 75px;
        grid-template-rows: 1fr 1fr 1fr 300px;
        
        
        .column1{
            grid-column: 2/3;
            grid-row: 1/2;
            // background: black;
    
        }
        .column2{
            grid-column: 1/4;
            grid-row: 2/3;
        
        }
        .column3{
            grid-column: 1/4;
            grid-row: 3/4;
        }
        .footer-section{
            grid-column: 1/4;
            grid-row: 4/5;
        }
        .text-group{
            margin-top: 50px;
        }
       

    
    }
        
// Medium Devices 
@media (max-width: 767px) and (min-width:576px){

          
   
    grid-template-columns: 75px 1fr 75px;
    grid-template-rows: 1fr 1fr 1fr 300px;
    
    
    .column1{
        grid-column: 2/3;
        grid-row: 1/2;
        

    }
    .column2{
        grid-column: 1/4;
        grid-row: 2/3;
    
    }
    .column3{
        grid-column: 1/4;
        grid-row: 3/4;
    }
    .footer-section{
        grid-column: 1/4;
        grid-row: 4/5;
    }
    .text-group{
        margin-top: 50px;
    }
    .mini-projects{
        margin-left: 20%;
    }
    .footer{
        margin-left: 50%;
    }

    }
        // Small Devices 

    @media (max-width: 576px){
        
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 1fr 1fr 1fr 200px 200px;
         
        .column1{
            grid-column: 1/4;
            grid-row: 1/2;
        }
        .column2{
            grid-column: 1/4;
            grid-row: 2/3;
        }
        .column3{
            grid-column: 1/4;
            grid-row: 3/4;
        }
        .footer-section{
            grid-column: 1/4;
            grid-row: 4/6;
        }
        .text-group{
            margin-top: 50px;
            margin-left: 50px;
            margin-right: 50px;
        }
        .mini-projects{
            display: grid;
            justify-items: end;
        }
        .footer{
            // margin-right: 25%;
            display: grid;
            display: inline-block;
            place-items: center;
            text-align: center;
            grid-row: 5/6;
            grid-column: 1/4;
            margin-top: 60px;
        }
        .contact-me{
            // margin-left: 20%;
            text-align:center;
            display: grid;
            place-items: center;
        }
    }
}
